.home {
  text-align: center;
  .header {
    background: rgb(56, 55, 56);
    background: linear-gradient(
      90deg,
      rgb(56, 56, 56) 0%,
      rgb(92, 93, 94) 100%
    );
    min-height: 70px;
    height: 10%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 10px 0;
    .header-content {
    }
  }
  .info {
    .query {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .result-info {
      height: 40px;
    }
  }
}
